<div class="container">
  <h1>OTP Generator</h1>

  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="userId">UserId</label>
      <input type="text" id="userId" [(ngModel)]="userId" name="userId" required />
    </div>

    <div>
      <label for="dateTime">DateTime</label>
      <input type="datetime-local" id="dateTime" [(ngModel)]="selectedDate" name="dateTime" required step="1"/>
    </div>

    <button type="submit">Generate OTP</button>
  </form>

  <div *ngIf="otpResponse">
    <h3>OTP: {{ otpResponse.otp }}</h3>
    <p>Remaining Time: {{ remainingSeconds }} seconds</p>
  </div>

  <!-- OTP Validation Section -->
  <div *ngIf="otpResponse">
    <div class="otp-validation">
      <label for="enteredOtp">Enter OTP</label>
      <input type="text" id="enteredOtp" [(ngModel)]="enteredOtp" name="enteredOtp" required />
    </div>
    <button (click)="validateOtp()">Validate OTP</button>

    <div *ngIf="isValidOtp !== null">
      <p class="otp-response-validation" [ngClass]="isValidOtp ? 'valid' : 'invalid'">
        OTP is {{ isValidOtp ? 'Valid' : 'Invalid' }}
      </p>
    </div>
  </div>
</div>
