<div class="container">
  <h1>OTP Generator</h1>

  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="userId">UserId</label>
      <input type="text" id="userId" [(ngModel)]="userId" name="userId" required />
    </div>

    <div>
      <label for="dateTime">DateTime</label>
      <input type="datetime-local" id="dateTime" [(ngModel)]="selectedDate" name="dateTime" required step="1"/>
    </div>

    <button [disabled]="remainingSeconds > 0" type="submit">Generate OTP</button>
  </form>

  <div *ngIf="otpResponse.otpCode">
    <p *ngIf="otpRequestDuplication" class="otp-request-validation" [ngClass]="!otpRequestDuplication ? 'valid' : 'invalid'">
      Request has already been sent
    </p>
    <h3 class="otp-code" (click)="copyOtpCode(otpResponse.otpCode)" [attr.title]="'Click to copy'">OTP: {{ otpResponse.otpCode }}</h3>
    <p>Code valid for: {{ remainingSeconds }} seconds</p>
  </div>

  <!-- OTP Validation Section -->
  <div *ngIf="otpResponse.otpCode">
    <div class="otp-validation">
      <label for="enteredOtp">Enter OTP</label>
      <input type="text" id="enteredOtp" [(ngModel)]="enteredOtp" name="enteredOtp" required />
    </div>
    <button (click)="validateOtp()">Validate OTP</button>

    <div *ngIf="isValidOtp !== null">
      <p class="otp-response-validation" [ngClass]="isValidOtp ? 'valid' : 'invalid'">
        OTP is {{ isValidOtp ? 'Valid' : 'Invalid' }}
      </p>
    </div>
  </div>
</div>
